/opendata/
./data_samples/.ipynb_checkpoints/
./notebooks/data_prep/.ipynb_checkpoints/
./data_samples/LaArt/.ipynb_checkpoints/
./scripts/add_data/.ipynb_checkpoints/
./notebooks/data_prep/feature_engineering/.ipynb_checkpoints/
./notebooks/data_prep/downloads/.ipynb_checkpoints/
./data_samples/results/whole_set_results/.ipynb_checkpoints/
./data_samples/results/whole_set_results/pa_nonLa_art.csv/
./data_samples/results/whole_set_results/downloaded_nonLa_art.csv/
./la_Images/
./latinamerican-2-imagefolder-split/
./non_laImages/
./scripts/sql_scripts/.ipynb_checkpoints/
./data_samples/results/.ipynb_checkpoints/
./data_samples/results/processed_subset_results/.ipynb_checkpoints/
./data_samples/results/whole_set_results/.ipynb_checkpoints/
./notebooks/TorchTextModel/.ipynb_checkpoints/
./notebooks/testing/.ipynb_checkpoints/
./scripts/sql_scripts/create_tables/.ipynb_checkpoints/
./scripts/.ipynb_checkpoints/
./notebooks/.ipynb_checkpoints/
./scripts/add_data/add_LaArt/.ipynb_checkpoints/
./scripts/.ipynb_checkpoints/
